@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

:root {
  --background: #fcfcfc;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Nunito", sans-serif;
}

@layer base {
  body {
    @apply relative;
  }

  button {
    @apply transition-transform transition-shadow duration-300 ease-out hover:shadow-md hover:scale-105;
  }
}

/* Estilizando a barra de rolagem */
::-webkit-scrollbar {
  width: 6px; /* Largura da scrollbar */
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Para Firefox */
html {
  scrollbar-width: thin;
  scrollbar-color: #888 transparent;
}

@layer utilities {
  .btn {
    @apply px-4 py-2 text-sm capitalize rounded-xl;
  }

  .btn-primary {
    @apply border bg-slate-700 border-slate-700 text-lime-400;
  }

  .btn-primary-outline {
    @apply border border-lime-400 text-lime-400;
  }

  .btn-danger {
    @apply text-white bg-red-600 border border-red-600;
  }

  .input-group {
    @apply flex flex-col gap-4;
  }
}
